body{
	background: -moz-linear-gradient(45deg, #0E3853 0%, #343E9D 55%, #43C9BB 100%);
background: -webkit-linear-gradient(45deg, #0E3853 0%, #343E9D 55%, #43C9BB 100%);
background: linear-gradient(45deg, #0E3853 0%, #343E9D 55%, #43C9BB 100%);
width: 100vw;
height: 100vh;
overflow: hidden;
position: relative;
}

